
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: blue;
  }
}

.blinking {
  animation: blink 3s infinite;

}

.table-hover tbody tr:hover {
  cursor: pointer;
}


body, .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
}
